<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.best1.api.mapper.oaf.order.ToafEorderinvoiceinfoMapper" >
  <resultMap id="BaseResultMap" type="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfo" >
    
    <id column="EINVOICEINFOID" property="einvoiceinfoid" jdbcType="DECIMAL" />
    <result column="INVOICEINFOID" property="invoiceinfoid" jdbcType="DECIMAL" />
    <result column="DZFPHM" property="dzfphm" jdbcType="VARCHAR" />
    <result column="FPDM" property="fpdm" jdbcType="VARCHAR" />
    <result column="FPHM" property="fphm" jdbcType="VARCHAR" />
    <result column="INVOICEPDF" property="invoicepdf" jdbcType="VARCHAR" />
    <result column="CREATEDBY" property="createdby" jdbcType="DECIMAL" />
    <result column="CREATEDTIMESTAMP" property="createdtimestamp" jdbcType="TIMESTAMP" />
    <result column="LASTMODIFIEDBY" property="lastmodifiedby" jdbcType="DECIMAL" />
    <result column="LASTMODIFIEDTIMESTAMP" property="lastmodifiedtimestamp" jdbcType="TIMESTAMP" />
    <result column="KPRQ" property="kprq" jdbcType="VARCHAR" />
    <result column="EINVOICEINFOSTATUS" property="einvoiceinfostatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
  
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
  
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
  
    EINVOICEINFOID, INVOICEINFOID, DZFPHM, FPDM, FPHM, INVOICEPDF, CREATEDBY, CREATEDTIMESTAMP, 
    LASTMODIFIEDBY, LASTMODIFIEDTIMESTAMP, KPRQ, EINVOICEINFOSTATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfoExample" >
  
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ET1_CHINA.TOAF_EORDERINVOICEINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >

    select 
    <include refid="Base_Column_List" />
    from ET1_CHINA.TOAF_EORDERINVOICEINFO
    where EINVOICEINFOID = #{einvoiceinfoid,jdbcType=DECIMAL}
  </select>
  
   <select id="selectByInvoiceinfoId" resultMap="BaseResultMap" parameterType="java.lang.Long" >

    select 
    <include refid="Base_Column_List" />
    from ET1_CHINA.TOAF_EORDERINVOICEINFO
    where INVOICEINFOID = #{invoiceinfoid,jdbcType=DECIMAL}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
   
    delete from ET1_CHINA.TOAF_EORDERINVOICEINFO
    where EINVOICEINFOID = #{einvoiceinfoid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfoExample" >
  
    delete from ET1_CHINA.TOAF_EORDERINVOICEINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfo" >
   <selectKey keyProperty="einvoiceinfoid" order="BEFORE" resultType="java.lang.Long">
      select et1_china.EINVOICEINFOID_SEQ.nextval from dual
    </selectKey>
    insert into ET1_CHINA.TOAF_EORDERINVOICEINFO (EINVOICEINFOID, INVOICEINFOID, DZFPHM, 
      FPDM, FPHM, INVOICEPDF, 
      CREATEDBY, CREATEDTIMESTAMP, LASTMODIFIEDBY, 
      LASTMODIFIEDTIMESTAMP, KPRQ, EINVOICEINFOSTATUS
      )
    values (#{einvoiceinfoid,jdbcType=DECIMAL}, #{invoiceinfoid,jdbcType=DECIMAL}, #{dzfphm,jdbcType=VARCHAR}, 
      #{fpdm,jdbcType=VARCHAR}, #{fphm,jdbcType=VARCHAR}, #{invoicepdf,jdbcType=VARCHAR}, 
      #{createdby,jdbcType=DECIMAL}, #{createdtimestamp,jdbcType=TIMESTAMP}, #{lastmodifiedby,jdbcType=DECIMAL}, 
      #{lastmodifiedtimestamp,jdbcType=TIMESTAMP}, #{kprq,jdbcType=VARCHAR}, #{einvoiceinfostatus,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfo" >
    <selectKey keyProperty="einvoiceinfoid" order="BEFORE" resultType="java.lang.Long">
      select et1_china.EINVOICEINFOID_SEQ.nextval from dual
    </selectKey>
    insert into ET1_CHINA.TOAF_EORDERINVOICEINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="einvoiceinfoid != null" >
        EINVOICEINFOID,
      </if>
      <if test="invoiceinfoid != null" >
        INVOICEINFOID,
      </if>
      <if test="dzfphm != null" >
        DZFPHM,
      </if>
      <if test="fpdm != null" >
        FPDM,
      </if>
      <if test="fphm != null" >
        FPHM,
      </if>
      <if test="invoicepdf != null" >
        INVOICEPDF,
      </if>
      <if test="createdby != null" >
        CREATEDBY,
      </if>
      <if test="createdtimestamp != null" >
        CREATEDTIMESTAMP,
      </if>
      <if test="lastmodifiedby != null" >
        LASTMODIFIEDBY,
      </if>
      <if test="lastmodifiedtimestamp != null" >
        LASTMODIFIEDTIMESTAMP,
      </if>
      <if test="kprq != null" >
        KPRQ,
      </if>
      <if test="einvoiceinfostatus != null" >
        EINVOICEINFOSTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="einvoiceinfoid != null" >
        #{einvoiceinfoid,jdbcType=DECIMAL},
      </if>
      <if test="invoiceinfoid != null" >
        #{invoiceinfoid,jdbcType=DECIMAL},
      </if>
      <if test="dzfphm != null" >
        #{dzfphm,jdbcType=VARCHAR},
      </if>
      <if test="fpdm != null" >
        #{fpdm,jdbcType=VARCHAR},
      </if>
      <if test="fphm != null" >
        #{fphm,jdbcType=VARCHAR},
      </if>
      <if test="invoicepdf != null" >
        #{invoicepdf,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=DECIMAL},
      </if>
      <if test="createdtimestamp != null" >
        #{createdtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null" >
        #{lastmodifiedby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedtimestamp != null" >
        #{lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="kprq != null" >
        #{kprq,jdbcType=VARCHAR},
      </if>
      <if test="einvoiceinfostatus != null" >
        #{einvoiceinfostatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfoExample" resultType="java.lang.Integer" >
    
    select count(*) from ET1_CHINA.TOAF_EORDERINVOICEINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
   
    update ET1_CHINA.TOAF_EORDERINVOICEINFO
    <set >
      <if test="record.einvoiceinfoid != null" >
        EINVOICEINFOID = #{record.einvoiceinfoid,jdbcType=DECIMAL},
      </if>
      <if test="record.invoiceinfoid != null" >
        INVOICEINFOID = #{record.invoiceinfoid,jdbcType=DECIMAL},
      </if>
      <if test="record.dzfphm != null" >
        DZFPHM = #{record.dzfphm,jdbcType=VARCHAR},
      </if>
      <if test="record.fpdm != null" >
        FPDM = #{record.fpdm,jdbcType=VARCHAR},
      </if>
      <if test="record.fphm != null" >
        FPHM = #{record.fphm,jdbcType=VARCHAR},
      </if>
      <if test="record.invoicepdf != null" >
        INVOICEPDF = #{record.invoicepdf,jdbcType=VARCHAR},
      </if>
      <if test="record.createdby != null" >
        CREATEDBY = #{record.createdby,jdbcType=DECIMAL},
      </if>
      <if test="record.createdtimestamp != null" >
        CREATEDTIMESTAMP = #{record.createdtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifiedby != null" >
        LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=DECIMAL},
      </if>
      <if test="record.lastmodifiedtimestamp != null" >
        LASTMODIFIEDTIMESTAMP = #{record.lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.kprq != null" >
        KPRQ = #{record.kprq,jdbcType=VARCHAR},
      </if>
      <if test="record.einvoiceinfostatus != null" >
        EINVOICEINFOSTATUS = #{record.einvoiceinfostatus,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    
    update ET1_CHINA.TOAF_EORDERINVOICEINFO
    set EINVOICEINFOID = #{record.einvoiceinfoid,jdbcType=DECIMAL},
      INVOICEINFOID = #{record.invoiceinfoid,jdbcType=DECIMAL},
      DZFPHM = #{record.dzfphm,jdbcType=VARCHAR},
      FPDM = #{record.fpdm,jdbcType=VARCHAR},
      FPHM = #{record.fphm,jdbcType=VARCHAR},
      INVOICEPDF = #{record.invoicepdf,jdbcType=VARCHAR},
      CREATEDBY = #{record.createdby,jdbcType=DECIMAL},
      CREATEDTIMESTAMP = #{record.createdtimestamp,jdbcType=TIMESTAMP},
      LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=DECIMAL},
      LASTMODIFIEDTIMESTAMP = #{record.lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      KPRQ = #{record.kprq,jdbcType=VARCHAR},
      EINVOICEINFOSTATUS = #{record.einvoiceinfostatus,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfo" >
    
    update ET1_CHINA.TOAF_EORDERINVOICEINFO
    <set >
      <if test="invoiceinfoid != null" >
        INVOICEINFOID = #{invoiceinfoid,jdbcType=DECIMAL},
      </if>
      <if test="dzfphm != null" >
        DZFPHM = #{dzfphm,jdbcType=VARCHAR},
      </if>
      <if test="fpdm != null" >
        FPDM = #{fpdm,jdbcType=VARCHAR},
      </if>
      <if test="fphm != null" >
        FPHM = #{fphm,jdbcType=VARCHAR},
      </if>
      <if test="invoicepdf != null" >
        INVOICEPDF = #{invoicepdf,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        CREATEDBY = #{createdby,jdbcType=DECIMAL},
      </if>
      <if test="createdtimestamp != null" >
        CREATEDTIMESTAMP = #{createdtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null" >
        LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedtimestamp != null" >
        LASTMODIFIEDTIMESTAMP = #{lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="kprq != null" >
        KPRQ = #{kprq,jdbcType=VARCHAR},
      </if>
      <if test="einvoiceinfostatus != null" >
        EINVOICEINFOSTATUS = #{einvoiceinfostatus,jdbcType=DECIMAL},
      </if>
    </set>
    where EINVOICEINFOID = #{einvoiceinfoid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.best1.api.entity.oaf.order.ToafEorderinvoiceinfo" >
   
    update ET1_CHINA.TOAF_EORDERINVOICEINFO
    set INVOICEINFOID = #{invoiceinfoid,jdbcType=DECIMAL},
      DZFPHM = #{dzfphm,jdbcType=VARCHAR},
      FPDM = #{fpdm,jdbcType=VARCHAR},
      FPHM = #{fphm,jdbcType=VARCHAR},
      INVOICEPDF = #{invoicepdf,jdbcType=VARCHAR},
      CREATEDBY = #{createdby,jdbcType=DECIMAL},
      CREATEDTIMESTAMP = #{createdtimestamp,jdbcType=TIMESTAMP},
      LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=DECIMAL},
      LASTMODIFIEDTIMESTAMP = #{lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      KPRQ = #{kprq,jdbcType=VARCHAR},
      EINVOICEINFOSTATUS = #{einvoiceinfostatus,jdbcType=DECIMAL}
    where EINVOICEINFOID = #{einvoiceinfoid,jdbcType=DECIMAL}
  </update>
</mapper>