<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.best1.api.mapper.crm.TcrmCustomerblacklistMapper">
  <resultMap id="BaseResultMap" type="com.best1.api.entity.crm.TcrmCustomerblacklist">
 
    <result column="CONTACTNUMBER" jdbcType="VARCHAR" property="contactnumber" />
    <result column="CONTACTTYPE" jdbcType="DECIMAL" property="contacttype" />
    <result column="CUSTOMERID" jdbcType="DECIMAL" property="customerid" />
    <result column="TELCALL" jdbcType="DECIMAL" property="telcall" />
    <result column="SMS" jdbcType="DECIMAL" property="sms" />
    <result column="CREATEDTIMESTAMP" jdbcType="TIMESTAMP" property="createdtimestamp" />
    <result column="CREATEDBY" jdbcType="DECIMAL" property="createdby" />
    <result column="LASTMODIFIEDBY" jdbcType="DECIMAL" property="lastmodifiedby" />
    <result column="LASTMODIFIEDTIMESTAMP" jdbcType="TIMESTAMP" property="lastmodifiedtimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">

    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">

    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
    CONTACTNUMBER, CONTACTTYPE, CUSTOMERID, TELCALL, SMS, CREATEDTIMESTAMP, CREATEDBY, 
    LASTMODIFIEDBY, LASTMODIFIEDTIMESTAMP
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
  
    select 
    <include refid="Base_Column_List" />
    from ET1_CHINA.TCRM_CUSTOMERBLACKLIST
    where CONTACTNUMBER = #{contactnumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByExample" parameterType="com.best1.api.entity.crm.TcrmCustomerblacklistExample" resultMap="BaseResultMap">
     
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ET1_CHINA.TCRM_CUSTOMERBLACKLIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
 
  <insert id="insertSelective" parameterType="com.best1.api.entity.crm.TcrmCustomerblacklist">
  
    insert into ET1_CHINA.TCRM_CUSTOMERBLACKLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contactnumber != null">
        CONTACTNUMBER,
      </if>
      <if test="contacttype != null">
        CONTACTTYPE,
      </if>
      <if test="customerid != null">
        CUSTOMERID,
      </if>
      <if test="telcall != null">
        TELCALL,
      </if>
      <if test="sms != null">
        SMS,
      </if>
      <if test="createdtimestamp != null">
        CREATEDTIMESTAMP,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY,
      </if>
      <if test="lastmodifiedtimestamp != null">
        LASTMODIFIEDTIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contactnumber != null">
        #{contactnumber,jdbcType=VARCHAR},
      </if>
      <if test="contacttype != null">
        #{contacttype,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=DECIMAL},
      </if>
      <if test="telcall != null">
        #{telcall,jdbcType=DECIMAL},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=DECIMAL},
      </if>
      <if test="createdtimestamp != null">
        #{createdtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedtimestamp != null">
        #{lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
   <update id="updateByPrimaryKeySelective" parameterType="com.best1.api.entity.crm.TcrmCustomerblacklist">
   
    update ET1_CHINA.TCRM_CUSTOMERBLACKLIST
    <set>
      <if test="contacttype != null">
        CONTACTTYPE = #{contacttype,jdbcType=DECIMAL},
      </if>
      <if test="customerid != null">
        CUSTOMERID = #{customerid,jdbcType=DECIMAL},
      </if>
      <if test="telcall != null">
        TELCALL = #{telcall,jdbcType=DECIMAL},
      </if>
      <if test="sms != null">
        SMS = #{sms,jdbcType=DECIMAL},
      </if>
      <if test="createdtimestamp != null">
        CREATEDTIMESTAMP = #{createdtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=DECIMAL},
      </if>
      <if test="lastmodifiedtimestamp != null">
        LASTMODIFIEDTIMESTAMP = #{lastmodifiedtimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONTACTNUMBER = #{contactnumber,jdbcType=VARCHAR}
  </update>
  
</mapper>