<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
    xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xmlns:stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/integration 
		http://www.springframework.org/schema/integration/spring-integration-4.0.xsd
		http://www.springframework.org/schema/integration/stream
		http://www.springframework.org/schema/integration/stream/spring-integration-stream-4.0.xsd
		http://www.springframework.org/schema/integration/jdbc 
		http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc-4.0.xsd">
		
		
<context:property-placeholder location="classpath:config/*.properties,classpath*:/application.properties"/>
	
<context:component-scan base-package="com.best1.integration"/>


 	<!-- 数据源配置,使用应用内的Tomcat JDBC连接池 -->

		<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
			
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="maxActive" value="${jdbc.pool.maxActive}" />
			<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
			<property name="minIdle" value="0" />
			<property name="defaultAutoCommit" value="false" />
	
			<property name="timeBetweenEvictionRunsMillis" value="60000" />
			<property name="minEvictableIdleTimeMillis" value="600000" />
		</bean>
	
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
 
     <int:channel id="wmsconoConfirmChannel"/> 
   <int-jdbc:inbound-channel-adapter channel="wmsconoConfirmChannel" 
         data-source="dataSource"
query="select WAREHOUSEID, SHIPORDERID,  SHIPORDERSEQUENCE,  PRODUCTID,   PRODUCTVERSION, COLOURCLASS,  COLOURCODE,  STYLECLASS,  STYLECODE, PRODUCTQUANTITY,  INTRANSITQUANTITY,  ACTUALSHIPPEDDATE,  SELECTEDCARRIER,   DELIVERYNUMBER,    REASON,   CSOSTATUS, DELIVERYAREA,    RECORDCREATEDTIME,  RECORDSTATUS,  CREATEDBY  from et1_china.tvws_api_csowholeconfirm  where RECORDSTATUS=1000"
update="update et1_china.tvws_api_csowholeconfirm set RECORDSTATUS='1001',LASTMODIFIEDBY=1,LASTMODIFIEDTIMESTAMP=sysdate where SHIPORDERID= (:SHIPORDERID) and SHIPORDERSEQUENCE =(:SHIPORDERSEQUENCE)">
       <!--  每隔多少毫秒去抓取    -->
       <int:poller fixed-rate="5000" >
            <int:transactional/>
        </int:poller>
</int-jdbc:inbound-channel-adapter>

 <int:service-activator input-channel="wmsconoConfirmChannel" ref="wmsCSOConfirmHandler"/>   
 
 
</beans>